<h1>Sign Up</h1>

<%= form_with model: @user, local: true, data: { turbo: false } do |form| %>
  <%= render 'layouts/form_errors', model: @user %>


  <div>
    <%= form.label :username %>
    <%= form.text_field :username %>
  </div>

  <div>
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <div>
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation %>
  </div>

  <div>
    <%= form.label :bio %>
    <%= form.text_area :bio %>
  </div>

  <div>
    <%= form.submit "Sign Up" %>
  </div>
<% end %>
